avg_dipole/sire_test/orientational_correlation/output/sim_restart.s3
avg_dipole/sire_test/orientational_correlation/output/traj000000001.dcd
avg_dipole/sire_test/orientational_correlation/output/foo_*.*
